@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400&display=swap");

:root {
  --primary-color-green: #5FB4A2;
  --primary-color-blue: #203A4C;
  --primary-color-gray: #33323D;
  --secundary-color-white: #FAFAFA;
  --secundary-color-gray: #EAEAEB;
  --secundary-color-link: #FFFFFF;

  --primary-font: 'Ibarra Real Nova', serif;
  --secundary-font: 'Public Sans', sans-serif;
}